<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<authorization>
			<deny users="?" />
		</authorization>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>
	</system.web>
</configuration>