<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<connectionStrings>
		<add name="TaskManagementDB"
             connectionString="Data Source=DESKTOP-TE0FMV1\SQLEXPRESS;Initial Catalog=TaskManagementSystem;Integrated Security=True;Connect Timeout=60;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" executionTimeout="300" />

		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="60" slidingExpiration="true" />
		</authentication>

		<authorization>
			<deny users="?" />
		</authorization>

		<sessionState mode="InProc" timeout="60" />

		<pages controlRenderingCompatibilityVersion="4.0" />

		<httpCookies httpOnlyCookies="true" requireSSL="false" />

		<!-- TURN OFF custom errors to see actual error -->
		<customErrors mode="Off" />
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Account/Login.aspx" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" />
	</system.webServer>

	<!-- Allow public access -->
	<location path="Account/Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Shared/Error.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Shared/AccessDenied.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Allow Admin folder access -->
	<location path="Admin">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Allow Member folder access -->
	<location path="Member">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

</configuration>